<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- 数据库URL -->
        <property name="connection.url">jdbc:mysql://localhost:3306/hbm-test</property>
        <!-- 数据库用户名 -->
        <property name="connection.username">root</property>
        <!-- 数据库密码 -->
        <property name="connection.password">12345678</property>
        <!-- JDBC驱动 -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <!-- 每个数据库都有对应的Dialect以匹配其平台特性 -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <!-- 指定当前session范围和上下文，使用session.getCurrentSession()方法时需要配置-->
        <property name="current_session_context_class">thread</property>
        <!-- 指定运行期生成的SQL输出到日志以供调试 -->
        <property name="show_sql">true</property>
        <!-- 是否格式化sql -->
        <!--<property name="format_sql">true</property>-->

        <property name="hbm2ddl.auto">update</property>


        <!-- 开启hibernate二级缓存 -->
        <property name="hibernate.cache.use_second_level_cache">true</property>
        <!-- 二级缓存的提供类 在hibernate4.0版本以后我们都是配置这个属性来指定二级缓存的提供类-->
        <property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>
        <!--这个类在4.0版本以后已经不建议被使用了-->
        <!--<property name="hibernate.cache.provider_class">net.sf.ehcache.hibernate.EhCacheProvider</property>-->
        <!-- 二级缓存配置文件的位置 -->
        <property name="hibernate.cache.provider_configuration_file_resource_path">ehcache.xml</property>

        <!-- 开启查询缓存 （查询缓存也是SessionFactory级别的缓存）-->
        <property name="hibernate.cache.use_query_cache">true</property>

        <!-- 映射文件 -->
        <!-- one-to-many映射 -->
        <mapping resource="Customer.hbm.xml" />
        <mapping resource="Order.hbm.xml" />

        <!-- one-to-one映射 -->
        <mapping resource="User.hbm.xml"/>
        <mapping resource="IdentifyCard.hbm.xml" />

        <mapping resource="Person.hbm.xml"/>
        <mapping resource="IDCard.hbm.xml"/>

        <!-- many-to-many映射 -->
        <mapping resource="Student.hbm.xml"/>
        <mapping resource="Course.hbm.xml"/>
        <mapping resource="StudentCourseRel.hbm.xml"/>
    </session-factory>
</hibernate-configuration>