<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- 数据库URL -->
        <property name="connection.url">jdbc:mysql://localhost:3306/hbm-test</property>
        <!-- 数据库用户名 -->
        <property name="connection.username">root</property>
        <!-- 数据库密码 -->
        <property name="connection.password">12345678</property>
        <!-- JDBC驱动 -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <!-- 每个数据库都有对应的Dialect以匹配其平台特性 -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <!-- 指定当前session范围和上下文 -->
        <property name="current_session_context_class">thread</property>
        <!-- 指定运行期生成的SQL输出到日志以供调试 -->
        <property name="show_sql">true</property>
        <!-- 是否格式化sql -->
        <property name="format_sql">true</property>

        <!--
            create：创建表，启动的时候，先drop然后再创建表，(测试人员用来测试数据，先清除掉前面的旧表，在创建新表)
　　　　　　　create-drop：也表示创建，创建完后，就drop掉。(测试程序是否正确)
　　　　　　　update：检测类和表是否一致，不一致就会做更新，将表更新到和类一样
　　　　　　　validate：启动时检测表和类是否一致，不一致则报异常
　　　　　　　一般常用update、validate。
        -->
        <property name="hbm2ddl.auto">update</property>

        <!-- 是否设置自动提交 -->
        <property name="hibernate.connection.autocommit">false</property>

        <!-- 映射文件 -->
        <!-- one-to-many映射 -->
        <mapping resource="User.hbm.xml"/>
    </session-factory>
</hibernate-configuration>